## GitLab configuration settings
##! https://gitlab.com/gitlab-org/omnibus-gitlab/raw/master/files/gitlab-config-template/gitlab.rb.template


## GitLab URL
##! Docs: https://docs.gitlab.com/omnibus/settings/configuration.html#configuring-the-external-url-for-gitlab
external_url '{{gitlab_external_url}}'


################################################################################
## gitlab.yml configuration
##! Docs: https://gitlab.com/gitlab-org/omnibus-gitlab/blob/master/doc/settings/gitlab.yml.md
################################################################################

### Email Settings
gitlab_rails['gitlab_email_from'] = '{{gitlab_email_from}}'
gitlab_rails['gitlab_email_display_name'] = '{{gitlab_email_display_name}}'
gitlab_rails['gitlab_email_reply_to'] = '{{gitlab_email_reply_to}}'

### LDAP Settings
###! Docs: https://docs.gitlab.com/omnibus/settings/ldap.html
gitlab_rails['ldap_enabled'] = {{gitlab_ldap_enabled|lower}}
gitlab_rails['ldap_servers'] = YAML.load <<-'EOS'
  main:
    label: 'LDAP'
    host: '{{gitlab_ldap_host}}'
    port: {{gitlab_ldap_port}}
    uid: '{{gitlab_ldap_uid}}'
    method: '{{gitlab_ldap_method}}'
    bind_dn: '{{gitlab_ldap_bind_dn}}'
    password: '{{gitlab_ldap_password}}'
    active_directory: {{gitlab_ldap_active_directory|lower}}
    allow_username_or_email_login: {{gitlab_ldap_allow_username_or_email_login|lower}}
    block_auto_created_users: false
    base: '{{gitlab_ldap_base}}'
    user_filter: '{{gitlab_ldap_user_filter}}'
    attributes:
      username: ['uid', 'userid', 'sAMAccountName']
      email:    ['mail', 'email', 'userPrincipalName']
      name:       'cn'
      first_name: 'givenName'
      last_name:  'sn'
    group_base: '{{gitlab_ldap_group_base}}'
    admin_group: ''
    sync_ssh_keys: false
EOS

### Backup Settings
###! Docs: https://docs.gitlab.com/omnibus/settings/backups.html
gitlab_rails['backup_keep_time'] = {{gitlab_backup_keep_time}}

### For setting up different data storing directory
###! Docs: https://docs.gitlab.com/omnibus/settings/configuration.html#storing-git-data-in-an-alternative-directory
git_data_dirs({'default' => '{{gitlab_git_data_dir}}'})

################################################################################
## Container Registry settings
##! Docs: https://docs.gitlab.com/ce/administration/container_registry.html
################################################################################

################################################################################
## GitLab Workhorse
##! Docs: https://gitlab.com/gitlab-org/gitlab-workhorse/blob/master/README.md
################################################################################

################################################################################
## GitLab User Settings
##! Docs: https://docs.gitlab.com/omnibus/settings/configuration.html#changing-the-name-of-the-git-user-group
################################################################################

################################################################################
## GitLab Unicorn
##! Docs: https://docs.gitlab.com/omnibus/settings/unicorn.html
################################################################################

################################################################################
## GitLab Sidekiq
################################################################################

################################################################################
## gitlab-shell
################################################################################

################################################################
## GitLab PostgreSQL
################################################################

################################################################################
## GitLab Redis
##! Docs: https://docs.gitlab.com/omnibus/settings/redis.html
################################################################################

################################################################################
## GitLab Web server
##! Docs: https://docs.gitlab.com/omnibus/settings/nginx.html#using-a-non-bundled-web-server
################################################################################

################################################################################
## GitLab Nginx
##! Docs: https://docs.gitlab.com/omnibus/settings/nginx.html
################################################################################

nginx['redirect_http_to_https'] = {{gitlab_nginx_redirect_http_to_https|lower}}
nginx['ssl_certificate'] = '{{gitlab_nginx_ssl_certificate}}'
nginx['ssl_certificate_key'] = '{{gitlab_nginx_ssl_certificate_key}}'

################################################################################
## GitLab Logging
##! Docs: https://docs.gitlab.com/omnibus/settings/logs.html
################################################################################

################################################################################
## Logrotate
##! Docs: https://docs.gitlab.com/omnibus/settings/logs.html#logrotate
################################################################################

################################################################################
## Users and groups accounts
##! Docs: https://docs.gitlab.com/omnibus/settings/configuration.html#disable-user-and-group-account-management
################################################################################

manage_accounts['enable'] = true

################################################################################
## Storage directories
##! Disable managing storage directories ##! Docs: https://docs.gitlab.com/omnibus/settings/configuration.html#disable-storage-directories-management
################################################################################

manage_storage_directories['enable'] = true
manage_storage_directories['manage_etc'] = true

################################################################################
## Git
##! Advanced setting for configuring git system settings for omnibus-gitlab
##! internal git
################################################################################

################################################################################
## GitLab Pages
##! Docs: https://docs.gitlab.com/ce/pages/administration.html
################################################################################

################################################################################
## GitLab Pages NGINX
################################################################################

################################################################################
## GitLab CI
##! Docs: https://docs.gitlab.com/omnibus/gitlab-ci/README.html
################################################################################

################################################################################
## GitLab Mattermost
##! Docs: https://docs.gitlab.com/omnibus/gitlab-mattermost
################################################################################

################################################################################
## Mattermost NGINX
################################################################################

################################################################################
## Registry NGINX
################################################################################

################################################################################
## Prometheus
##! Docs: https://docs.gitlab.com/ce/administration/monitoring/performance/prometheus.html
################################################################################

prometheus['enable'] = {{gitlab_prometheus | lower}}

################################################################################
## Prometheus Node Exporter
##! Docs: https://docs.gitlab.com/ce/administration/monitoring/performance/prometheus.html
################################################################################

node_exporter['enable'] = {{gitlab_node_exporter | lower}}

################################################################################
## Prometheus Redis exporter
##! Docs: https://docs.gitlab.com/ce/administration/monitoring/performance/prometheus.html
################################################################################

redis_exporter['enable'] =  {{gitlab_redis_exporter | lower}}

################################################################################
## Postgres exporter
##! Docs: https://docs.gitlab.com/ce/administration/monitoring/performance/prometheus.html
################################################################################

postgres_exporter['enable'] = {{gitlab_postgres_exporter | lower}}

################################################################################
## Gitlab monitor
##! Docs: https://docs.gitlab.com/ce/administration/monitoring/performance/prometheus.html
################################################################################

gitlab_monitor['enable'] = {{gitlab_gitlab_monitor | lower}}
